{
  "HVA_AUTO_SKILLS_DISABLED": "",
  "HVA_AUTO_SKILLS_ENABLED": "bash-style,code,documentation,js-ts-style,python-style,review,git-review,rust-style",
  "HVA_CSHARP": "false",
  "HVA_DONT_INJECT_SKILLS": "bash-style,code,documentation,js-ts-style,python-style,review,git-review,rust-style",
  "HVA_DUMP_SYSTEM_PROMPT": "",
  "HVA_EXTENSIONS_DISABLED": "pi-lens",
  "HVA_EXTENSIONS_ENABLED": "",
  "HVA_HARD_INJECT_SKILLS": "",
  "HVA_LOAD_SECRETS": "1",
  "HVA_MANUAL_SKILLS_DISABLED": "",
  "HVA_MANUAL_SKILLS_ENABLED": "planner,read-repo,hva-new-skill,hva-meta-code-review,type-design,improve-codebase-architecture,to-prd,tdd,to-issues,grill-with-docs",
  "HVA_MAX_OUTPUT_TOKENS": "81920",
  "HVA_MCP_DISABLED": "github,pypi,npm-search,brave-search",
  "HVA_MCP_ENABLED": "ripgrep,rust-docs,searxng",
  "HVA_MOUNT_DOCKER_SOCKET": "0",
  "HVA_MOUNT_GIT": "1",
  "HVA_MOUNT_GITCONFIG": "0",
  "HVA_MOUNT_GIT_READONLY": "0",
  "HVA_MOUNT_NVIM": "0",
  "HVA_MOUNT_SSH": "0",
  "HVA_RUNTIME_PROMPT_MODE": "normal",
  "HVA_SKIP_ALL_INJECTS": "0",
  "HVA_SOFT_INJECT_SKILLS": "",
  "HVA_UNSAFE": "0",
  "LLAMA_AUTOFIT_TOKENS": "1024",
  "LLAMA_CHAT_TEMPLATE_FILE": "",
  "LLAMA_CONTAINER": "hva-llama-server",
  "LLAMA_CONTEXT_SIZE": "262144",
  "LLAMA_ENABLE_THINKING": "1",
  "LLAMA_GPU_VENDOR": "auto",
  "LLAMA_HOST_PORT": "8080",
  "LLAMA_IMAGE": "",
  "LLAMA_MIN_P": "0.05",
  "LLAMA_MODEL": "",
  "LLAMA_MODELS": "models",
  "LLAMA_MODEL_ALIAS": "local",
  "LLAMA_NCMOE": "11",
  "LLAMA_NETWORK": "hva-net",
  "LLAMA_PRESENCE_PENALTY": "0.0",
  "LLAMA_PRESERVE_THINKING": "1",
  "LLAMA_REASONING_BUDGET": "-1",
  "LLAMA_REPEAT_PENALTY": "1.0",
  "LLAMA_TEMPERATURE": "0.6",
  "LLAMA_TOP_K": "20",
  "LLAMA_TOP_P": "0.95",
  "SEARXNG_URL": "http://host.docker.internal:8888"
}
